Language: Cpp
Standard: Cpp11
BasedOnStyle: "Chromium" 
ColumnLimit: 160
IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:   
  AfterEnum: true
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: true


AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: InlineOnly  
BreakConstructorInitializers: BeforeColon 
BreakConstructorInitializersBeforeComma: true
IndentCaseLabels: true
ReflowComments: false 
Cpp11BracedListStyle: true
ContinuationIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false
CompactNamespaces: true
SortIncludes: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceAfterTemplateKeyword: true
SpaceInEmptyParentheses: false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakBeforeFirstCallParameter: 1000

